# ██████████   █████ █████  █████████   █████████                     ████
#░░███░░░░███ ░░███ ░░███  ███░░░░░░   ███░░░░░███                   ░░███
#  ███   ░░███ ░░███ ███  ░███ ██████ ░███    ░░░   ██████   ██████   ░███   ██████
# ░███    ░███  ░░█████   ░███░███░███░░█████████  ███░░███ ░░░░░███  ░███  ███░░███
# ░███    ░███   ███░███  ░███░███░███ ░░░░░░░░███░███ ░░░   ███████  ░███ ░███████
# ░███    ███   ███ ░░███ ░███░░░ ░███ ███    ░███░███  ███ ███░░███  ░███ ░███░░░
# ██████████   █████ █████░░█████████ ░░█████████ ░░██████ ░░████████ █████░░██████
# ░░░░░░░░░░   ░░░░░ ░░░░░  ░░░░░░░░░   ░░░░░░░░░   ░░░░░░   ░░░░░░░░ ░░░░░  ░░░░░░
# 
# DX@Scale CI/CD Template for Azure Pipelines
#-----------------------------------------------------------------------------------------------------------
# Maintained by @ramesh-karanji(Ramesh Karanji)
# Follows reference pipeline available at docs.dxatscale.io
# 
#------------------------------------------------------------------------------------------------------------
# To know more about dxatscale, visit https://docs.dxatscale.io
# To know more on sfpowerscripts, visit- https://sfpowerscripts.dxatscale.io/
# To know more on sfpowerkit, visit- https://github.com/Accenture/sfpowerkit
#
# Prepare a pool of DEV scratch orgs
#
#
# --- To report metrics about the pipeline to datadog or newrelic, set these variables in CICD group
#
#  #SFPOWERSCRIPTS_NEWRELIC: 'true'
#  #SFPOWERSCRIPTS_NEWRELIC_API_KEY: '<NEWRELIC_INSIGHT_INSERT_KEYS>'
# 
#  or if you are using Datadog
#  #SFPOWERSCRIPTS_DATADOG: 'true'
#  #SFPOWERSCRIPTS_DATADOG_HOST: '<DATADOG-HOST>'
#  #SFPOWERSCRIPTS_DATADOG_API_KEY: '<DATADOG-API-KEY>'
#
# or if you are using a Hosted StatsD server
#  
#  # SFPOWERSCRIPTS_STATSD: 'true'
#  # SFPOWERSCRIPTS_STATSD_HOST: '<STATSD_HOST_IP>'
#
# --------------------------------------------------------------------------------------------------------


name: 'Replenish DEV Pools - Auto Triggered'
trigger: none
pr: none

# Trigger Schedule
schedules:
    - cron: '0 0 * * *'
      displayName: Daily midnight prepare pool
      branches:
          include:
              - main
      always: true

# Runs build on the mentioned Image   
pool:
    vmImage: 'ubuntu-latest'

#The docker container contains sfpowerscripts and the dependencies it needs to run, # refer to https://github.com/orgs/dxatscale/packages/container/package/sfpowerscripts                
container: ghcr.io/dxatscale/sfpowerscripts:latest

#Custom Variables
variables:
  - group: CICD

steps:    
 
# Need full checkout for tags 
    - checkout: self
      persistCredentials: true

# Authenticate DevHub 
    - script: |
          echo $(DEVHUB_SFDX_AUTH_URL) > ./authfile
          sfdx auth:sfdxurl:store -f authfile -a devhub
      displayName: 'Authenticate DevHub'

# Authenticate NPM
    - task: DownloadSecureFile@1
      name: npmrc
      inputs:
          secureFile: .npmrc

    - task: npmAuthenticate@0
      inputs:
        workingFile: $(npmrc.secureFilePath)     

## Scratch Org Pool creation  for DEV's
    - script: |
          sfdx sfpowerscripts:orchestrator:prepare -f config/project-dev-pool-def.json -v devhub --npmrcpath $(npmrc.secureFilePath)
      displayName: 'Prepare a pool of scratch orgs'


#Publish logs to artifacts             
    - task: PublishBuildArtifacts@1
      inputs:
            pathToPublish: .sfpowerscripts/prepare_logs/
            artifactName: PrepareLogs